body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 25px 0 0;
  z-index: 10;
  background-color: #F1F3FF;
  height: 60px;
}

.header .left {
  margin-left: 136px;
  height: 34px;
  width: 100px;
  background-color: #0D28A6;
}

.header .right {
  margin-right: 136px;
}

.header .right .nav {
  margin-left: 32px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.header .right .register {
  background-color: #5CB85F;
  width: 81px;
  height: 36px;
  border-radius: 2px;
  padding: 8px 12px;
  color: #ffffff;
}

.heroSection {
  background-color: #F1F3FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
}

.heroSection .left {
  padding-left: 136px;
}

.heroSection .left .title {
  font-size: 36px;
  font-weight: 700;
  width: 568px;
  line-height: 54px;
  margin-top: 177px;
  margin-bottom: 0;
}

.heroSection .left .lead {
  font-size: 14px;
  font-weight: 400;
  width: 468px;
  margin: 16px 0 24px;
  text-align: justify;
  line-height: 20px;
}

.heroSection .left button {
  height: 36px;
  width: 140px;
  background-color: #5CB85F;
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 20px;
}

.heroSection .right {
  max-width: 704px;
  height: 500px;
}

.heroSection .right .bg {
  background-color: #0D28A6;
  height: 243px;
  width: 100%;
}

.heroSection .right .img {
  position: relative;
}

.heroSection .right .img::before {
  content: '';
  background-color: #0D28A6;
  height: 243px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 1;
  border-radius: 60px 0 0 0;
}

.heroSection .right .img img {
  z-index: 2;
  position: relative;
  margin-top: 97px;
  height: 407px;
}

.whyUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 138px;
}

.whyUs .main {
  width: 1168px;
}

.whyUs .main .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.whyUs .main .lead {
  margin: 16px 0 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.whyUs .main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whyUs .main .content .card {
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  width: 268px;
  max-width: 268px;
  height: 196px;
  padding: 24px;
  margin-right: 32px;
}

.whyUs .main .content .card .icon {
  height: 32px;
  width: 32px;
  padding: 7.67px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whyUs .main .content .card .icon img {
  height: 24px;
  width: 24px;
}

.whyUs .main .content .card .title {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0;
  line-height: 24px;
}

.whyUs .main .content .card .lead {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 220px;
  height: 60px;
}

.ctaBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 156px 0 100px;
}

.ctaBanner .content {
  background-color: #0D28A6;
  width: 1168px;
  height: 326px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
}

.ctaBanner .content .title {
  font-size: 36px;
  font-weight: 700;
  width: 613px;
  line-height: 54px;
  margin-top: 64px;
  margin-bottom: 0;
}

.ctaBanner .content .lead {
  font-size: 14px;
  font-weight: 400;
  width: 468px;
  margin: 16px 0 52px;
  text-align: center;
  line-height: 20px;
}

.ctaBanner .content button {
  height: 36px;
  width: 140px;
  background-color: #5CB85F;
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 20px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.faq .main {
  width: 1168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq .main .left .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 16px;
}

.faq .main .left .lead {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.faq .main .right .content {
  margin-bottom: 16px;
}

.faq .main .right .content .collapsibleClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 668px;
  height: 56px;
  padding: 18px 25px 18px 24px;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
}

.faq .main .right .content .collapsibleClose:hover {
  cursor: pointer;
}

.faq .main .right .content .collapsibleClose p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.faq .main .right .content .collapsibleClose img {
  height: 24px;
  width: 24px;
}

.faq .main .right .content .collapsibleOpen {
  width: 668px;
  padding: 18px 25px 18px 24px;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  display: none;
  overflow: hidden;
}

.faq .main .right .content .collapsibleOpen p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
/*# sourceMappingURL=styles.css.map */